spring:
  application:
    name: friendspark-backend
  datasource:
    url: jdbc:postgresql://localhost:5435/friendspark
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  sql:
    init:
      mode: always
server:
  port: 8090
  servlet:
    context-path: /api/v1

logging:
  level:
    org:
      hibernate:
        SQL: DEBUG
        type:
          descriptor:
            sql: TRACE
      springframework:
        security: TRACE
        web: TRACE
